Repository Team-Silver-Sphere/SquadJS, pull requests merged in 2021-03, with the labels that each got.

#163 Add Squad Wiki Team to credits
  README.md
  squad-server/templates/readme-template.md
Labels: chore, patch

#164 Various README Improvements
  README.md
  squad-server/templates/readme-template.md
Labels: patch

#166 Store squad list and add squad information as sub-object in player information
  squad-server/index.js
  squad-server/rcon.js
Labels: core feature request, minor

#167 Adding Event Broadcast To The Plugin SocketIOAPI
  squad-server/plugins/socket-io-api.js
Labels: minor, plugin feature request

#169 Fix nextMapToBeVoted assignment
  squad-server/index.js
Labels: core bug, patch

#170 Add plugin to log FOB/HAB explosion damage to Discord
  README.md
  config.json
  squad-server/plugins/discord-fob-hab-explosion-damage.js
Labels: minor, plugin feature request

#171 Add new events for admins warning, kicking and banning players
  squad-server/index.js
  squad-server/rcon.js
Labels: core feature request, minor

#173 Add layer image to Discord server status embed
  squad-server/plugins/discord-server-status.js
Labels: minor, plugin feature request

#175 Revamp DiscordServerStatus plugin
  .gitignore
  README.md
  config.json
  database.sqlite
  squad-server/plugins/discord-base-message-updater.js
  squad-server/plugins/discord-server-status.js
  squad-server/plugins/index.js
  squad-server/templates/config-template.json
Labels: minor, plugin feature request

#176 Add option to show number of active admins and warn them when using !admin
  README.md
  config.json
  squad-server/plugins/discord-admin-request.js
Labels: minor, plugin feature request

#177 Remove outdated README documentation for DBLog's Grafana template
  squad-server/plugins/db-log.js
Labels: patch, plugin bug

#184 Add number of helicopters and tanks per team to layer information
  README.md
  squad-server/layers/layer.js
Labels: core feature request, minor
