Repository Team-Silver-Sphere/SquadJS, pull requests merged in 2024-07, with the labels that each got.

#354 Fix/migrate to eos
  core/id-parser.js
  core/log-parser/index.js
  core/package.json
  core/rcon.js
  squad-server/index.js
  squad-server/log-parser/adding-client-connection.js
  squad-server/log-parser/check-permission-resolve-eosid.js
  squad-server/log-parser/client-connected.js
  squad-server/log-parser/client-external-account-info.js
  squad-server/log-parser/client-login.js
  squad-server/log-parser/index.js
  squad-server/log-parser/join-request.js
  squad-server/log-parser/login-request.js
  squad-server/log-parser/pending-connection-destroyed.js
  squad-server/log-parser/player-connected.js
  squad-server/log-parser/player-damaged.js
  squad-server/log-parser/player-died.js
  squad-server/log-parser/player-disconnected.js
  squad-server/log-parser/player-join-succeeded.js
  squad-server/log-parser/player-possess.js
  squad-server/log-parser/player-revived.js
  squad-server/log-parser/player-un-possess.js
  squad-server/log-parser/player-wounded.js
  squad-server/log-parser/playercontroller-connected.js
  squad-server/log-parser/sending-auth-result.js
  squad-server/plugins/auto-kick-unassigned.js
  squad-server/plugins/auto-tk-warn.js
  squad-server/plugins/chat-commands.js
  squad-server/plugins/discord-admin-cam-logs.js
  squad-server/plugins/discord-admin-request.js
  squad-server/plugins/discord-chat.js
  squad-server/plugins/discord-fob-hab-explosion-damage.js
  squad-server/plugins/discord-killfeed.js
  squad-server/plugins/discord-teamkill.js
  squad-server/plugins/team-randomizer.js
  squad-server/rcon.js
  squad-server/utils/any-id.js
Labels: core bug, minor, Testing Required, More Information Needed

#347 Update: Admin List Util to Recognize EOSIDs
  squad-server/utils/admin-lists.js
Labels: core bug, minor

#364 fix: remove duplicate 'Victim' field from killfeed.
  squad-server/plugins/discord-killfeed.js
Labels: plugin bug, patch
